.footer{
    font-size: 1rem;
    background-color: #c9c9c9;
    padding: 10px;
    text-align: center;
    // height: calc(100vh * 2 / 100);
    // position: fixed;
    // bottom: 0;
    // width: 100%;
    
}

.no_display{
    visibility: hidden;
}